<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Sample</title>
</head>
<body>
    <hr/>
    <h1 th:text="|안녕하세요 ${name}씨|">표시하는 부분</h1>
    <div th:with="a=1, b=2">
        <span th:text="|${a} + ${b} = ${a+b}|"></span>
    </div>
    <div th:switch="${name}">
        <p th:case="이순신" th:text="|${name}입니다!|"></p>
        <p th:case="영희" th:text="|${name}입니다!|"></p>
        <p th:case="철수" th:text="|${name}입니다!|"></p>
        <p th:case="*" th:text="명부에 없습니다!"></p>
    </div>
    . 으로 접근 : <span th:text="${mb.id}">ID</span> - <span th:text="${mb.name}">이름</span><br>
    []로 접근 :   <span th:text="${mb['id']}">이름</span> - <span th:text="${mb['name']}">이름</span><br>
    <th:block th:object="${mb}">
        . 으로 접근 : <span th:text="*{id}">ID</span> - <span th:text="*{name}">이름</span><br>
        []로 접근 : <span th:text="*{id}">ID</span> - <span th:text="*{['name']}">이름</span>
    </th:block> <br>
        <hr>
    <span th:text="${list[0]}">방위</span>
    <span th:text="${list[1]}">방위</span>
    <span th:text="${list[2]}">방위</span>
    <span th:text="${list[3]}">방위</span>
    <br>
    .으로 접근 : <span th:text="${map.hong.name}">이름 1</span> - <span th:text="${map.lee.name}">이름 2</span> <br>
    []로 접근 : <span th:text="${map['hong']['name']}">이름 1</span> - <span th:text="${map['lee']['name']}">이름 2</span> <br>

    <div th:each="member : ${members}">
        <p>[[${member.id}]] : [[${member.name}]]</p>
    </div>
    <br>
    <hr>
    <div th:each="member, s : ${members}" th:object="${member}">
        <p>
            index -> [[${s.index}]], count ->[[${s.count}]],
            size -> [[${s.size}]], current -> [[${s.current}]],
            even -> [[${s.even}]], odd -> [[${s.add}]],
            first -> [[${s.first}]], last -> [[${s.last}]],
            [[*{id}]] : [[{name}]]
        </p>
    </div>
    <div th:with="x=1000000", y="123456.789"></div>
</body>
</html>